/*
Source - https://stackoverflow.com/a
Posted by The Pragmatick, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-12, License - CC BY-SA 4.0
*/

/* Globe container styling */
.globe-container {
  background-color: transparent;
  /* make sure only half sphere or semi circle is visible */
  width: 600px;
  height: 250px;
  overflow-y: hidden;
}

#earth {
  width: 600px;
  height: 600px;
  background: url(https://web.archive.org/web/20150807125159if_/http://www.noirextreme.com/digital/Earth-Color4096.jpg);
  border-radius: 50%;
  background-size: 410px;
  box-shadow: inset 8px 36px 80px 36px rgb(0, 0, 0), inset -6px 0 12px 4px rgba(255, 255, 255, 0.3);
  animation-name: rotate;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@keyframes rotate {
  from {
    background-position: 0px 0px;
  }

  to {
    background-position: 610px 0px;
  }
}

@-webkit-keyframes rotate {
  from {
    background-position: 0px 0px;
  }

  to {
    background-position: 610px 0px;
  }
}